.leaderboard-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Monospace', monospace;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left-side {
    display: flex;
    justify-content: left;
    white-space: nowrap;
    overflow: hidden;
}

.right-side {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.6rem;
}

.position-route-number {
    color: #f05a28;
}

.position-speed-ms {
    color: #9ca3af;
    font-size: 0.85rem;
}
